#page_view_toggle
  = image('application_side_tree', :alt => 'tree view', :height => '30px')
  = link_to_unless_current "<span>Tree View</span>", page_index_path
  = image('application_view_list', :alt => 'tree view', :height => '30px')
  = link_to_unless_current "<span>List View</span>", page_index_path(:view => 'list')
- content_for :page_css do
  :sass
    #page_view_toggle
      position: absolute
      right: 20px
      margin-top: -3em
      a
        margin: 0 7px 0 0
        span
          margin: 0        
      span
        margin: 0 7px 0 0
 