- content_for :page_css do
  :sass
    #content
      table.index.sortable
        th
          padding: 2px 14px
          background-position: 98% center
          background-repeat: no-repeat
          &.sortasc
            background-image: url(/images/admin/move_lower.png)
            background-color: #ccc
          &.sortdesc
            background-image: url(/images/admin/move_higher.png)
            background-color: #ccc
          a
            color: white
            text-decoration: underline
            &:hover
              text-decoration: none